@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: rgb(76, 133, 232) !important;
  background-color: transparent !important;
  font-weight: 700;
  border-bottom: 3px solid rgb(76, 133, 232);
  padding-bottom: 3px;
  border-radius: 0px;
}

.small .active {
  color: rgb(76, 133, 232) !important;
  background-color: transparent !important;
  font-weight: 700;
  border-bottom: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
}
